# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Env files
.env
.env.*